<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="layui-row footer"  th:fragment="footer">
    <div class="layui-row">
        <div class="layui-col-md12 layui-col-xs12 notice">
            &nbsp;
        </div>
        <div class="layui-col-md12 layui-col-xs12 notice">
            2019 © JSPY
        </div>
    </div>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;
        });
    </script>

</div>
</body>
</html>