<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="layui-row header" th:fragment="header">
    &nbsp;
</div>

<div class="layui-row navi" th:fragment="navi">
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item layui-this"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>
</div>

<div class="layui-row breadcrumb" th:fragment="breadcrumb">
		<span class="layui-breadcrumb ">
			<a href="">首页</a>
			<a href="">分类</a>
			<a><cite>小说</cite></a>
		</span>
</div>


</body>
</html>