<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="page-navigation" th:fragment="nav">
    <div class="nav-container">
        <div class="page-header-logo">
            <h1 class="prince-log"><a href="/" class="home-link">JSPY</a></h1>
        </div>
        <button type="button"
                data-toggle="collapse"
                data-target=".main-nav-items"
                class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul th:if="${null==isIndex && null!=session.appName}" class="collapse navbar-collapse main-nav-items">
            <li class="menu-item"><a href="#" target="_self" th:text="${session.appName}"></a></li>
            <li class="menu-item"><a href="/memory/" target="_self">内存</a></li>
            <li class="menu-item"><a href="/threads/" target="_self">线程</a></li>
            <li class="menu-item"><a href="/classes/" target="_self">类</a></li>
            <li class="menu-item"><a href="/classes/" target="_self">方法</a></li>
        </ul>
    </div>
</nav>
</body>
</html>
