/* CSS Document */

body {
    background-color: #f2f2f2;
    font-size: 13px;
}

.layui-field-title {
    margin: 12px 0 9px;
}

.layui-field-title legend {
    font-size: 14px;
    font-weight: bold;
}

.wrapper {
    background: #FFF;
    padding: 0;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 5px;
    width: 810px;
    height: 100%;
    box-shadow: 0 0 15px 15px rgba(200, 200, 200, .14);
}

/* -------------- head -------------- */
.header {
    height: 90px;
}

.navigator {
    padding: 0;
}

.navigator ul {
    padding: 0;
}

.breadcrumb {
    height: 36px;
    padding: 6px 0 0 9px;
    line-height: 32px;
    border-bottom: 1px solid #B8BCB8;
}


/* -------------- content -------------- */

.main {
    padding: 12px;
}

.content-wrapper {

}

/* -------------- foot -------------- */

.footer {
    height: 81px;
    background: #2C353A;
}

.footer .notice {
    color: #8F989C;
    font-size: 15px;
    line-height: 2.0em;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
}

/* ------------------------------------ multi device ------------------------------------ */
@media screen and (min-width: 810px) {
    .content-wrapper {
        border-right: 1px solid #CCC;
        padding-right: 6px;
    }
}

@media screen and (max-width: 810px) {
    .wrapper {
        width: 100%;
    }

    .wrapper {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .header {
        display: none;
    }
}
