<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/head::head"></div>
<body>


<div class="wrap">
    <div th:replace="common/nav::nav"></div>
    <main>

        <div id="appTableToolbar">
            <div class="btn-group">
                <button id="btnAdd" class="btn btn-default" data-toggle="modal" data-target="#appModal">
                    <i class="icon-plus"></i>新增
                </button>
            </div>
        </div>
        <table id="appTable"
               data-toggle="table"
               data-search="true"
               data-classes="table table-hover"
               data-thead-classes="thead-light"
               data-checkbox-header="false"
               data-click-to-select="true"
               data-toolbar="#appTableToolbar"
               data-url="/app/all">
            <thead>
            <tr>
                <th data-align="center" data-field="id" data-width="40px">ID</th>
                <th data-align="left" data-field="appName">应用名称</th>
                <th data-align="left" data-halign="center" data-field="appCode" data-width="160px"
                    data-formatter="appCodeFormatter">应用短码
                </th>
                <th data-align="center" data-field="operate" data-formatter="operateFormatter"
                    data-events="operateEvents">
                    操作
                </th>
            </tr>
            </thead>
        </table>


        <div id="appModal"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-labelledby="appAddLabel"
             aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="appAddLabel">新增应用</h4>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <input type="hidden" id="appIdInput" name="appId" value="">
                                <label for="appNameInput" class="col-sm-2 control-label">应用名称</label>
                                <div class="col-sm-9">
                                    <input type="text"
                                           class="form-control"
                                           id="appNameInput"
                                           name="appName"
                                           placeholder="请输入应用名称">
                                    <span class="alertHint" id="appNameAlert"></span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-default" onclick="subAppRequest()">提交</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <div th:replace="common/footer::footer"></div>
</div>


<script th:src="@{/js/bootstrap-table.min.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>

<script type="text/javascript">

    /**
     * 处理模态窗口关闭事件，执行部分清理操作
     */
    $('#appModal').on('hide.bs.modal', function () {
        $("#appNameAlert").html("");
        $("#appIdInput").val("");
        $("#appNameInput").val("");
    });

    /**
     * 提交app数据处理请求
     */
    function subAppRequest() {
        let appId = $("#appIdInput").val();
        let data = JSON.stringify({
            id: appId,
            appName: $("#appNameInput").val()
        });
        if (appId > 0) {
            subAppRequest0('put', '/app/', data)
        } else {
            subAppRequest0('post', '/app/', data)
        }
    }

    /**
     * 发送app相关请求
     */
    function subAppRequest0(method, url, data) {
        $.ajax({
            type: method,
            contentType: "application/json",
            url: url,
            async: true,
            data: data,
            timeout: 6 * 1000,
            success: function (result) {
                if (result) {
                    $('#appTable').bootstrapTable('refresh');
                    $('#appModal').modal('hide');
                }
            },
            error: function (xhr, state, errMsg) {
                $("#appNameAlert").html(xhr.responseText);
                console.log("新增应用信息失败:" + xhr.responseText);
            }
        });
    }


    function appCodeFormatter(value) {
        return [value,
            '<button type="button" style="float:right" ',
            'class="btn btn-default btn-xs" ',
            'onclick="copyToClipboard(\'' + value + '\')">复制</button>'
        ].join('')
    }

    function operateFormatter(value, row, index) {
        return 0 === index ?
            '<span class="tableOperate"><a class="report" href="/overview/' + row.id + '" title="查看报表">查看</a></span>'
            :
            [
                '<span class="tableOperate">',
                '<a class="update" href="javascript:void(0)" title="编辑">编辑</a>',
                '<a class="delete" href="javascript:void(0)" title="删除">删除</a>',
                '<a class="report" href="/overview/' + row.id + '" title="查看报表">查看</a>',
                '</span>'
            ].join('&nbsp;&nbsp;&nbsp;')
    }

    window.operateEvents = {
        'click .update': function (e, value, row, index) {
            openUpdateModal(row.id, row.appName)
        },
        'click .delete': function (e, value, row, index) {
            subAppRequest0('delete', "/app/" + row.id, "");
        },
        'click .report': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row))
        }
    };

    function openUpdateModal(id, name) {
        $('#appModal').modal("show");
        $("#appIdInput").val(id);
        $("#appNameInput").val(name);
    }

</script>


</body>
</html>